/* Variables */
:root {
  --basic-dark: #2f303a;
  --basic-blue: #2196f3;
  --basic-background: #e5e5e5;
  --background-our-team: #f5f4fa;
  --basic-white: #fff;
  --grey-footer-text: #acacb0;
  --basic-gray: rgba(255, 255, 255, 0.6);
  --text-black-full: #000;
  --text-black-color: #212121;
  --text-lightgray-color: #757575;
  --font-logo: "Raleway", sans-serif;
  --font-main: "Roboto", sans-serif;
}

body {
  font-family: var(--font-main);
  font-weight: 400;
  color: var(--text-black-color);
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
